<div class="estimated-delivery">
    <div class="pincode-heading">
        <label for="pincode-input">Check Delivery</label>
        <p>Enter pincode to know delivery dates</p>
    </div>
    <div class="input-group">
        <input type="text" id="pincode-input" placeholder="Enter Pincode" />
        <button id="check-delivery" class="check-delivery-btn">Check</button>
    </div>
    <p id="delivery-result"></p>
</div>
