
.highlights-section-wrap .icon-with-text-wrap {
  background: linear-gradient(90deg, #E1EDF0 0%, #EADBE7 50%, #E1EDF0 100%);
  border-radius: 12px;
  padding: 24px 0;
  overflow: hidden;
}

.highlights-section-wrap .icon-with-text-wrap .highlights-slider-wrap {
  display: flex;
  gap: 40px;
  white-space: nowrap;}
.highlights-section-wrap .swiper-wrapper{
  transition-timing-function: linear;
}
.highlights-section-wrap .swiper-slide {min-width: fit-content;}
.newAnnouncment-section-wrap .icon_text_inner .icon_text {
  text-align: center;
  
  font-weight: 500;
  
}
.newAnnouncment-slider-wrap .icon_text_inner a  {
  text-decoration: none;
}
.collection .slider-component-full-width.slider-component-desktop {
  padding-left: 13.5rem;
}
.home-collection-slider .swiper-slide .product-card-wrapper {border-radius: 16px; background: #fff;padding:10px; overflow: hidden;}
.shop_category--main {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}
.shop_category--main {
  gap: 2.4rem;
}
.shop_category--left-wrap {
  width: 50%;
}
.shop_category--right-wrap {
  width: 50%;
}
.shop_category--items {
  width: 100%;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr 1fr;
}
.category-block_1, .category-block_2, .category-block_3 {
  position: relative;
}
.shop_category--items a:last-child {
  grid-column: 1 / span 2;
}
.shop_category--items img {
  width: 100%;
  display: flex
;
  align-items: stretch;
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}
.category__block span {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.category-block_1 span, .category-block_2 span {
  position: absolute;
  bottom: 7%;
  left: 7%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}
.category-block_3 span {
  position: absolute;
  bottom: 7%;
  left: 3%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}
.shop-cat-right--main {
  background: linear-gradient(to bottom, #f0c6c4, #fbeeed);
  position: relative;
  border-radius: 12px;
}
.shop-cat-right--main .shopcat-targ-image {
  display: flex;
  justify-content: center;
}
.shop-cat-right--main img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.shop-cat-right--main .shop_targ-item {
  position: absolute;
}
.shop-cat-right--main .shop_targ-item  a h3, .shop-cat-right--main .shop_targ-item  a{color:#fff;margin:0; font-size: 20px;}
.shop-cat-right--main .shop_targ-item  a {display: flex; align-items: center;gap:10px}
.shop-cat-right--main .shop_targ-item a .dots{position: relative;display: block; width:9.66px; height: 9.66px; background:rgba(255, 255, 255, .6); border-radius: 50%;}
.shop-cat-right--main .shop_targ-item a .dots:before{content: "";
  display: block;
  width: 19.32px;
  height: 19.32px;
  border: solid 9px rgba(255, 255, 255, .4);
 
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;}
.shop-cat-right--main .shop_targ-item:nth-child(1) {
  top: 18%;
  left: 35%;
}
.shop-cat-right--main .shop_targ-item:nth-child(2) {
  top: 28%;
  left: 46%;
}
.shop-cat-right--main .shop_targ-item:nth-child(3) {
  top: 50%;
  left: 42%;
}
.shop-cat-right--main .shop_targ-item:nth-child(4) {
  top: 61%;
  left: 41%;
}
.shop-cat-right--main .shop_targ-item:nth-child(5) {
  top: 73%;
  right: 37%;
}
.shop-cat-right--main .shop_targ-item:nth-child(6) {
  top: 81%;
  right: 50%;
}
.video-block-wrap video {width:100%; height: 100%; object-fit: cover; aspect-ratio: 3/5; display: block;border-radius: 16px;}
.video-content-wrapper .content-items {
  position: relative;
}
.home-collection-slider {
  overflow: hidden;
}
.video-content-wrapper .content-items .product--items {
  position: absolute;
  bottom: 8px;
  left:8px;
  right: 8px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, .7);
  border-radius: 16px;
  display: flex;
  align-items: center;padding:8px;
  gap:8px;
}
.video-content-wrapper .product-image img {
  width: 60px;
  aspect-ratio: 1;
  height: 60px;
  border-radius: 8px;
}
.video-content-wrapper  .product-title-price {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;color:#262626;
}
.video-content-wrapper  .product-title-price span{display: block; font-weight: 600;}
.video-content-wrapper  .product-image {
  height: 60px;
}
.card__content .quick-add {
  display: flex;gap:15px; justify-content: space-between;
}
.card__content .quick-add  .swym-button.swym-add-to-wishlist-view-product.swym-heart:after {font-size: 20px;}
.card__content .quick-add  button{width:40px}
.card__content .quick-add  product-form {width:calc(100% - 45px)}
.price-item--sale {font-weight: 600;}
@media(min-width:750px) {
  p.announcement-bar__message.h5{font-size: calc(var(--font-heading-scale)* 1.4rem); font-weight: 500;}
  .slider-button--prev {left:40px}
  .slider-button--next {right:40px}
  .slider-button .svg-wrapper svg {
    height: 23.48px;
    width: auto;}
    .newAnnouncment-section-wrap .icon_text_inner .icon_text {font-size: 14px;}
  }