
.highlights-section-wrap .icon-with-text-wrap {
  background: linear-gradient(90deg, #E1EDF0 0%, #EADBE7 50%, #E1EDF0 100%);
  border-radius: 12px;
  padding: 24px 0;
  overflow: hidden;
}

.highlights-section-wrap .icon-with-text-wrap .highlights-slider-wrap {
  display: flex;
  gap: 40px;
  white-space: nowrap;}
.highlights-section-wrap .swiper-wrapper{
  transition-timing-function: linear;
}
.highlights-section-wrap .swiper-slide {min-width: fit-content;}
.newAnnouncment-section-wrap .icon_text_inner .icon_text {
  text-align: center;
  
  font-weight: 500;
  
}
.newAnnouncment-slider-wrap .icon_text_inner a  {
  text-decoration: none;
}
.collection .slider-component-full-width.slider-component-desktop {
  padding-left: 13.5rem;
}
.home-collection-slider .swiper-slide .product-card-wrapper {border-radius: 16px; background: #fff;padding:10px; overflow: hidden;}
.shop_category--main {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}
.shop_category--main {
  gap: 2.4rem;
}
.shop_category--left-wrap {
  width: 50%;
}
.shop_category--right-wrap {
  width: 50%;
}
.shop_category--items {
  width: 100%;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr 1fr;
}
.category-block_1, .category-block_2, .category-block_3 {
  position: relative;
}
.shop_category--items a:last-child {
  grid-column: 1 / span 2;
}
.shop_category--items img {
  width: 100%;
  display: flex
;
  align-items: stretch;
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}
.category__block span {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.category-block_1 span, .category-block_2 span {
  position: absolute;
  bottom: 7%;
  left: 7%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}
.category-block_3 span {
  position: absolute;
  bottom: 7%;
  left: 3%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}
.shop-cat-right--main {
  background: linear-gradient(to bottom, #f0c6c4, #fbeeed);
  position: relative;
  border-radius: 12px;
}
.shop-cat-right--main .shopcat-targ-image {
  display: flex;
  justify-content: center;
}
.shop-cat-right--main img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.shop-cat-right--main .shop_targ-item {
  position: absolute;
}
.shop-cat-right--main .shop_targ-item  a h3, .shop-cat-right--main .shop_targ-item  a{color:#fff;margin:0; font-size: 20px;}
.shop-cat-right--main .shop_targ-item  a {display: flex; align-items: center;gap:10px}
.shop-cat-right--main .shop_targ-item a .dots{position: relative;display: block; width:9.66px; height: 9.66px; background:rgba(255, 255, 255, .6); border-radius: 50%;}
.shop-cat-right--main .shop_targ-item a .dots:before{content: "";
  display: block;
  width: 19.32px;
  height: 19.32px;
  border: solid 9px rgba(255, 255, 255, .4);
 
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;}
.shop-cat-right--main .shop_targ-item:nth-child(1) {
  top: 18%;
  left: 35%;
}
.shop-cat-right--main .shop_targ-item:nth-child(2) {
  top: 28%;
  left: 46%;
}
.shop-cat-right--main .shop_targ-item:nth-child(3) {
  top: 50%;
  left: 42%;
}
.shop-cat-right--main .shop_targ-item:nth-child(4) {
  top: 61%;
  left: 41%;
}
.shop-cat-right--main .shop_targ-item:nth-child(5) {
  top: 73%;
  right: 37%;
}
.shop-cat-right--main .shop_targ-item:nth-child(6) {
  top: 81%;
  right: 50%;
}
.video-block-wrap video {width:100%; height: 100%; object-fit: cover; aspect-ratio: 3/5; display: block;border-radius: 16px;}
.video-content-wrapper .content-items {
  position: relative;
}
.home-collection-slider {
  overflow: hidden;
}
.video-content-wrapper .content-items .product--items {
  position: absolute;
  bottom: 8px;
  left:8px;
  right: 8px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, .7);
  border-radius: 16px;
  display: flex;
  align-items: center;padding:8px;
  gap:8px;
}
.video-content-wrapper .product-image img {
  width: 60px;
  aspect-ratio: 1;
  height: 60px;
  border-radius: 8px;
}
.video-content-wrapper  .product-title-price {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;color:#262626;
}
.video-content-wrapper  .product-title-price span{display: block; font-weight: 600;}
.video-content-wrapper  .product-image {
  height: 60px;
}
.card__content .quick-add {
  display: flex;gap:15px; justify-content: space-between;
}
.card__content .quick-add  .swym-button.swym-add-to-wishlist-view-product.swym-heart:after {font-size: 20px;}
.card__content .quick-add  button{width:40px}
.card__content .quick-add  product-form {width:calc(100% - 45px)}
.price-item--sale {font-weight: 600;}
.insights .image-with-text {
  border-radius: 12px;
  background: radial-gradient(43.78% 156.35% at 26.37% 59.13%, #AECCE2 0%, #E7EFFB 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.insights .image-with-text .image-with-text__media {padding-top: 30px;}
.insights .image-with-text .image-with-text__media img {position: static; object-fit: contain;}
.insights .image-with-text  .image-with-text__text{margin-top: 1rem;max-width: 300px;}
.insights .image-with-text  .image-with-text__text p{font-weight: 500;}
.insights .image-with-text__content .image-with-text__text+.button {background: #fff; color:#262626;font-weight: 600;}
.insights .image-with-text__content .image-with-text__text+.button:after{content:none}
.header__icon--search {display: flex;border-bottom: solid 1px #AFAFAF;height: 40px;}

.header__icon--search input.search-box{ border:none}
.ingredients .multicolumn-card {background: transparent; padding: 0; box-shadow: none;}
.ingredients  .multicolumn-list__item .media--adapt .multicolumn-card__image {max-width:150px; height: auto; aspect-ratio: 1; object-fit: contain;width:100%;}
.ingredients .multicolumn-list .multicolumn-card .multicolumn-card__info {
  padding-top: 0;
}
.ingredients .multicolumn-list .multicolumn-card .multicolumn-card__info h3{font-size: 20px;}
.ingredients .multicolumn-list .multicolumn-card .multicolumn-card__info .rte p{font-weight: 500; line-height: 22.4px; letter-spacing: normal;}
.home-iwt__content-wrapp .section-content-items .content-wrapper .content {
  text-align: center;
}
.home-iwt__content-wrapp .section-content-items .content-wrapper .content p{font-size: 24px; font-weight: 500;line-height: 28.8px; position: relative;}
.home-iwt__content-wrapp  .content p::before{content:""; display: inline-block; left:0; top:0; background: url(ic-left.svg) no-repeat center ; width:20px; height: 20px;position: absolute;}
.home-iwt__content-wrapp  .content p::after{content:""; display: inline-block; right:0; top:0; background: url(ic-left.svg) no-repeat center ; width:20px; height: 20px;position: absolute;    transform: rotate(180deg);}
.home-iwt__content-wrapp  .label_text {
  text-align: center;font-weight: 600; font-size: 28px; line-height: 36.4px;
}
.home-iwt__content-wrapp  .label_text span {
  display: block;font-size: 16px; font-weight: 400; line-height: 22.8px;
}
.home-iwt__content-wrapp .icon-text-items .wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.home-iwt__content-wrapp .block-content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 445px;
  width: 100%;
  margin: 50px auto 0 auto;
}
.home-iwt__content-wrapp .icon-text-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home-iwt__content-wrapp .icon-text-items .wrapper span.text {
  font-weight: 500;
  line-height: 20px;
}
.home-iwt__content-wrapp .icon-text-items .wrapper img {
  height: 40px;
  width: 40px;
  aspect-ratio: 1;
  object-fit: contain;
}
.home-iwt__content-wrapp  .image-wrapper img{display: block;}
.home-iwt__content-wrapp .image-wrapper img {
  display: block;
  border-radius: 24px;
}
.home-iwt__content-wrapp .section-content-items {
  align-items: center;
}
.title-wrapper .sub_heading p {
  margin: 0;line-height: 1;
}
.blog__posts.articles-wrapper {margin-top:0}
.free_shipping--item {
  display: flex;align-items:center;gap:20px; box-shadow: 0px 0px 12px 0px #0000000D;
border-radius: 16px;padding:20px;
}
.free_shipping--item img {
  width: 40px;
  height: 40px;}
.fre_Shipping-content .fre_Shipping-text h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  margin: 0;
}
.fre_Shipping-content .fre_Shipping-text span {
  font-size: 14px;
  line-height: 18.2px;
}
.fre_Shipping-content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.fre_Shipping-content .free_Shipping-btn {
  padding: 0;
  background: #C2E5B8;
  color: #262626;
  font-weight: 600;
}
.fre_Shipping-content .free_Shipping-btn:after {
  content: none;
}
.top-border {border-top:solid 1px #D9D9D9}

/*-----CUstom Mega Menu ----*/
.custom-mega-menu .child-mega-menu__content {
  position: absolute;
}


/*------End--------*/
@media(min-width:750px) {
  .insights .image-with-text .image-with-text__heading{font-size: 32px;}
  p.announcement-bar__message.h5{font-size: calc(var(--font-heading-scale)* 1.4rem); font-weight: 500;}
  .slider-button--prev {left:40px}
  .slider-button--next {right:40px}
  .slider-button .svg-wrapper svg {
    height: 23.48px;
    width: auto;}
    .newAnnouncment-section-wrap .icon_text_inner .icon_text {font-size: 14px;}
  }