
.highlights-section-wrap .icon-with-text-wrap {
  background: linear-gradient(90deg, #E1EDF0 0%, #EADBE7 50%, #E1EDF0 100%);
  border-radius: 12px;
  padding: 24px 0;
  overflow: hidden;
}

.highlights-section-wrap .icon-with-text-wrap .highlights-slider-wrap {
  display: flex;
  gap: 40px;
  white-space: nowrap;}
.highlights-section-wrap .swiper-wrapper{
  transition-timing-function: linear;
}
.highlights-section-wrap .swiper-slide {min-width: fit-content;}
.newAnnouncment-section-wrap .icon_text_inner .icon_text {
  text-align: center;
  
  font-weight: 500;
  
}
.newAnnouncment-slider-wrap .icon_text_inner a  {
  text-decoration: none;
}
.collection .slider-component-full-width.slider-component-desktop {
  padding-left: 13.5rem;
}
.product-card-wrapper {border-radius: 16px; background: #fff;padding:10px; overflow: hidden;}
.shop_category--main {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
}
.shop_category--main {
  gap: 2.4rem;
}


.shop_category--items {
  width: 100%;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 1fr 1fr;
}
.category-block_1, .category-block_2, .category-block_3 {
  position: relative;
}
.shop_category--items a:last-child {
  grid-column: 1 / span 2;
}
.shop_category--items img {
  width: 100%;
  display: flex
;
  align-items: stretch;
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
}
.category__block span {
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.category-block_1 span, .category-block_2 span {
  position: absolute;
  bottom: 7%;
  left: 7%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}
.category-block_3 span {
  position: absolute;
  bottom: 7%;
  left: 3%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}
.shop-cat-right--main {
  background: linear-gradient(to bottom, #f0c6c4, #fbeeed);
  position: relative;
  border-radius: 12px;
}
.shop-cat-right--main .shopcat-targ-image {
  display: flex;
  justify-content: center;
}
.shop-cat-right--main img {
  display: block;
  width: 100%;
  height: auto;

}
.shop-cat-right--main .shop_targ-item {
  position: absolute;
}
.shop-cat-right--main .shop_targ-item  a h3, .shop-cat-right--main .shop_targ-item  a{color:#fff;margin:0; font-size: 20px;}
.shop-cat-right--main .shop_targ-item  a {display: flex; align-items: center;gap:10px}
.shop-cat-right--main .shop_targ-item a .dots{position: relative;display: block; width:9.66px; height: 9.66px; background:rgba(255, 255, 255, .6); border-radius: 50%;}
.shop-cat-right--main .shop_targ-item a .dots:before{content: "";
  display: block;
  width: 19.32px;
  height: 19.32px;
  border: solid 9px rgba(255, 255, 255, .4);
 
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;}
.shop-cat-right--main .shop_targ-item:nth-child(1) {
  top: 18%;
  left: 35%;
}
.shop-cat-right--main .shop_targ-item:nth-child(2) {
  top: 28%;
  left: 46%;
}
.shop-cat-right--main .shop_targ-item:nth-child(3) {
  top: 50%;
  left: 42%;
}
.shop-cat-right--main .shop_targ-item:nth-child(4) {
  top: 61%;
  left: 41%;
}
.shop-cat-right--main .shop_targ-item:nth-child(5) {
  top: 73%;
  right: 37%;
}
.shop-cat-right--main .shop_targ-item:nth-child(6) {
  top: 81%;
  right: 50%;
}
.video-block-wrap video {width:100%; height: 100%; object-fit: cover; aspect-ratio: 3/5; display: block;border-radius: 16px;}
.video-content-wrapper .content-items {
  position: relative;
}
.home-collection-slider {
  overflow: hidden;
}
.video-content-wrapper .content-items .product--items {
  position: absolute;
  bottom: 8px;
  left:8px;
  right: 8px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, .7);
  border-radius: 16px;
  display: flex;
  align-items: center;padding:8px;
  gap:8px;
}
.video-content-wrapper .product-image img {
  width: 60px;
  aspect-ratio: 1;
  height: 60px;
  border-radius: 8px;
}
.video-content-wrapper  .product-title-price {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;color:#262626;
}
.video-content-wrapper  .product-title-price span{display: block; font-weight: 600;}
.video-content-wrapper  .product-image {
  height: 60px;
}
.card__content .quick-add {
  display: flex;gap:15px; justify-content: space-between;
}
.card__content .quick-add  .swym-button.swym-add-to-wishlist-view-product.swym-heart:after {font-size: 20px;}
.card__content .quick-add  button{width:40px}
.card__content .quick-add  product-form {width:calc(100% - 45px)}
.price-item--sale {font-weight: 600;}
.insights .image-with-text {
  border-radius: 12px;
  background: radial-gradient(43.78% 156.35% at 26.37% 59.13%, #AECCE2 0%, #E7EFFB 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.insights .image-with-text .image-with-text__media {padding-top: 30px;}
.insights .image-with-text .image-with-text__media img {position: static; object-fit: contain;}
.insights .image-with-text  .image-with-text__text{margin-top: 1rem;max-width: 300px;}
.insights .image-with-text  .image-with-text__text p{font-weight: 500;}
.insights .image-with-text__content .image-with-text__text+.button {background: #fff; color:#262626;font-weight: 600;}
.insights .image-with-text__content .image-with-text__text+.button:after{content:none}
.header__icon--search {display: flex;border-bottom: solid 1px #AFAFAF;height: 40px;}

.header__icon--search input.search-box{ border:none}
.ingredients .multicolumn-card {background: transparent; padding: 0; box-shadow: none;}
.ingredients  .multicolumn-list__item .media--adapt .multicolumn-card__image {max-width:150px; height: auto; aspect-ratio: 1; object-fit: contain;width:100%;}
.ingredients .multicolumn-list .multicolumn-card .multicolumn-card__info {
  padding-top: 0;
}
.ingredients .multicolumn-list .multicolumn-card .multicolumn-card__info h3{font-size: 16px;}
.ingredients .multicolumn-list .multicolumn-card .multicolumn-card__info .rte p{font-weight: 500; line-height: 22.4px; letter-spacing: normal;}
.home-iwt__content-wrapp .section-content-items .content-wrapper .content {
  text-align: center;
}
.home-iwt__content-wrapp .section-content-items .content-wrapper .content p{font-size: 24px; font-weight: 500;line-height: 28.8px; position: relative;}
.home-iwt__content-wrapp  .content p::before{content:""; display: inline-block; left:0; top:0; background: url(ic-left.svg) no-repeat center ; width:20px; height: 20px;position: absolute;}
.home-iwt__content-wrapp  .content p::after{content:""; display: inline-block; right:0; top:0; background: url(ic-left.svg) no-repeat center ; width:20px; height: 20px;position: absolute;    transform: rotate(180deg);}
.home-iwt__content-wrapp  .label_text {
  text-align: center;font-weight: 600; font-size: 28px; line-height: 36.4px;
}
.home-iwt__content-wrapp  .label_text span {
  display: block;font-size: 16px; font-weight: 400; line-height: 22.8px;
}
.home-iwt__content-wrapp .icon-text-items .wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.home-iwt__content-wrapp .block-content-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 445px;
  width: 100%;
  margin: 50px auto 0 auto;
}
.home-iwt__content-wrapp .icon-text-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.home-iwt__content-wrapp .icon-text-items .wrapper span.text {
  font-weight: 500;
  line-height: 20px;
}
.home-iwt__content-wrapp .icon-text-items .wrapper img {
  height: 40px;
  width: 40px;
  aspect-ratio: 1;
  object-fit: contain;
}
.home-iwt__content-wrapp  .image-wrapper img{display: block;}
.home-iwt__content-wrapp .image-wrapper img {
  display: block;
  border-radius: 24px;max-width: 100%;height: auto;
}
.home-iwt__content-wrapp .section-content-items {
  align-items: center;
}
.title-wrapper .sub_heading p {
  margin: 0;line-height: 1;
}
.blog__posts.articles-wrapper {margin-top:0}
.free_shipping--item {
  display: flex;align-items:center;gap:20px; box-shadow: 0px 0px 12px 0px #0000000D;
border-radius: 16px;padding:20px;
}
.free_shipping--item img {
  width: 40px;
  height: 40px;}
.fre_Shipping-content .fre_Shipping-text h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  margin: 0;
}
.fre_Shipping-content .fre_Shipping-text span {
  font-size: 14px;
  line-height: 18.2px;
}
.fre_Shipping-content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.fre_Shipping-content .free_Shipping-btn {
  padding: 0;
  background: #C2E5B8;
  color: #262626;
  font-weight: 600;
}
.fre_Shipping-content .free_Shipping-btn:after {
  content: none;
}
.top-border {border-top:solid 1px #D9D9D9}
.footer-social-icons {
  margin-top: 3.5rem;
}
.list-social__link .svg-wrapper {width: 3.8rem; height: 3.8rem;}
/*-----CUstom Mega Menu ----*/
.custom-mega-menu .child-mega-menu__content {
  position: absolute;left:0;padding-left: 9vw;top: auto;
  z-index: 9;width: 100%;
  max-width: 340px;
  background: #EFF6F5;border-radius: 0 0 24px 0;
  height: 430px;
}
.mega-menu__list{list-style: none; padding: 0;}
.custom-mega-menu .child-mega-menu__content >.mega-menu__list {padding:17px 0}
.custom-mega-menu .child-mega-menu__content >.mega-menu__list .child-link-item a {
  padding: 14px 0;
  line-height: 1;
  text-decoration: none;display: block;
}
.linklist_image {
  position: absolute;
  z-index: 11;
  left:calc(100% - 25px) ;
  height: 430px;width:0;
  top:-1px;padding:0; background: #fff; transition: all 0.3s ease;opacity: 1;border-bottom-right-radius: 27px;
}
.linklist_image img {opacity: 0; width:0; height: 350px;}
.child-linklist:hover > .linklist_image {width:430px; padding:40px}
.child-linklist:hover > .linklist_image img {opacity: 1;width:350px; }
.linklist_image > img{height: 100%; width:0; border-radius: 16px;}
.child-linklist .grandchild-mega-menu__content {
  position: absolute;
  right: 0;
  top: -1px;
  bottom: 0;
  padding: 0;
  background: #fff;
  white-space: nowrap;
  width: 0;z-index: 999;opacity: 0;
}
.child-linklist.has_grandChild_menu:hover > .grandchild-mega-menu__content {width:300px; padding:15px 0 0 0;transform:translateX(calc(100% - 25px)); opacity: 1;}
.child-linklist.has_grandChild_menu > .grandchild-mega-menu__content a {padding-left:40px!important}
.child-linklist.has_grandChild_menu:hover>.grandchild-mega-menu__content + .linklist_image {
  left: 613px;
}
/*------End--------*/
.product__info-wrapper .product__title h1 {
  font-size: 1.8rem;
  line-height: 23.4px;
}
.product__info-wrapper .price__container .price-item--last {
  font-size: 2rem;line-height: 24.38px;
}
span.percent-count {
  color: #3BA24A;
  font-size: 1.6rem;
  line-height: 19.5px;
}
.product--offers-wraper .coupanCode--title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 20.8px; background: url(coupon-icon.svg) no-repeat left center; background-size: 23px auto;padding-left: 34px;
}
.coupan-code-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 24px;
}
.coupan-code-content ul li.code--items {
  background: #fff;
  box-shadow: 1px 2px 4px 0px #0000000D;
  border: solid 1px #F3F3F5;
  border-radius: 8px;
  overflow: hidden;
}
.coupan-code-content ul li.code--items .heading {
  padding: 15px;font-size:14px; line-height: 18.2px;font-weight: 500;
}
.discount-code-item {
  background: #DDEDEB;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;align-items: center;
}
.copytext {
  font-weight: 500;
  text-decoration: underline;
  line-height: 19.2px;
  text-underline-offset: 4px;
}
.discount-code-item .discountcode{font-size:16px; font-weight: 700;letter-spacing: 1.6px; line-height: 20.8px;text-transform: uppercase;}
.product__info-container .product--offers-wrap {
  margin-right: -27.4%;
  overflow-x: auto;
}

.product__info-container  .product--offers-wrap .coupan-code-wrapper {
  margin-right: -40%;
}
.product__info-container  .product-form__buttons {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.product__info-container  .product-form__buttons {margin:0; width:100%;max-width: none;}
.product__info-container .swym-button-bar {margin:0 10px 0 0}
.estimated-delivery label {
  background: url(free_shipping.svg) no-repeat left center;
  background-size: 30px;
  padding-left: 40px;
}
.estimated-delivery {
  margin-top: 20px;
  padding: 15px 0 45px 0;
 
}

.estimated-delivery label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.pincode-heading p {
  margin: 0;
  font-size: 14px;
  line-height: 19.6px;
}
.estimated-delivery  .input-group {
  display: flex;
  margin-top: 10px;
}

.estimated-delivery  .input-group input {
  flex: 1;
  background: #F3F3F5;
border-radius:8px 0 0 8px;
border:none;min-height: 56px;font-size: 16px; line-height: 24px; color:#808080;padding: 10px;
box-sizing: border-box;
}

.estimated-delivery   .input-group button {
  background: #F3F3F5;
  border-radius:0 8px 8px 0;
  border:none;min-height: 56px;font-size: 16px; line-height: 24px; color:#808080;padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.estimated-delivery  .input-group button:hover {
  background: #F3F3F5;
}

#delivery-result {
  margin-top: 10px;
  font-size: 14px;
  color: #d9534f;
}
.product__accordion-wrapper {
  padding: 16px 24px;
  background: #fff;
  box-shadow: 0px 0px 12px 0px #0000000D;
  border: solid 1px #F3F3F5;
  border-radius: 16px;
}
.contact.page-width .subheading p {
  color: #666;
  line-height: 20.8px;
  margin: 10px 0;
}
.contact-form__content-wrapper form {
  max-width: 560px;margin-top: 30px;
}
.contact-form__content-wrapper form input, .contact-form__content-wrapper form textarea {
  max-height: 48px;
  height: 48px;
  min-height: initial;
}
.contact-form__content-wrapper form input, .contact-form__content-wrapper form textarea {
  background: #F3F3F5;
  border-radius: 8px;
}
.contact-form__content-wrapper form .field:after, .contact-form__content-wrapper form .field:before {
  content: none;
}
.below-content-wrapper .belowheading {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 50px;
}
.content-wrapper > div {
  box-shadow: 0px 0px 12px 0px #0000000D;
  border: solid 1px #f3f3f3;
  background: #fff;
  border-radius: 16px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  padding: 25px;align-items: center;
}
.content-wrapper {
  margin-top: 15px;
  max-width: 560px;
}
.content-wrapper>div .icon-text {
  display: flex;
  align-items: center;
  gap: 10px;font-weight:600; letter-spacing:normal
}
.content-wrapper>div .icon-text img {
  width: 24px;
  height: auto;
  display: block;
}
.content-wrapper>div a {
  font-weight: 600;
  color: #262626;
  letter-spacing: normal;
}
.about-content .home-iwt__content-wrapp .section-content-items .content-wrapper .content {
  text-align: left;
  background: transparent;
  box-shadow: none;
}
.about-content .home-iwt__content-wrapp .section-content-items .content-wrapper .content p:before, .about-content .home-iwt__content-wrapp .section-content-items .content-wrapper .content p:after {content: none;}
.about-content .home-iwt__content-wrapp .section-content-items .content-wrapper .content p {font-weight: 600; font-size: 32px; line-height: 38.4px;}
.about-content .home-iwt__content-wrapp .block-content-wrap {max-width: 100%; background: transparent; box-shadow: none;margin-top:0}
.about-philosophy .image-with-text__content{padding-left:0}
.about-content .home-iwt__content-wrapp .label_text {
  background: transparent;
  box-shadow: none;
  text-align: left;
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 400;
  padding-bottom: 0;
  padding-top: 0;
}

.about-content .home-iwt__content-wrapp .section-content-items .content-wrapper .content p {
  margin: 0;
}
.about-philosophy .image-with-text__media img, .about-philosophy .image-with-text__media svg {
  border-radius: 16px;
}
.about-philosophy .image-with-text__media:after {
  background: transparent;
}
.about-insights .image-with-text .image-with-text__media {
  padding-top: 0;
}
.about-insights .image-with-text .image-with-text__media img{object-fit: cover;}
.about-insights .image-with-text .image-with-text__content {padding-right:0}
.about-insights .image-with-text .image-with-text__text {
  max-width: 393px;
  line-height: 25.2px;
}
.about-insights .image-with-text .image-with-text__content {padding:4.5rem 7rem 4rem}
@media(min-width:750px) {
  .below-content-wrapper .belowheading {
    font-size: 20px;
 
    line-height: 28px;
    margin-top: 50px;
}
  .contact-form__content-wrapper .contact h2.title {
    font-size: 28px;
    line-height: 44px;
}
  .contact.page-width {padding-top:80px; padding-bottom: 70px;}
  span.percent-count {
   
    font-size: 2rem;
    line-height: 24.38px;
}
  .product__info-wrapper .price__container .price-item--last {
    font-size: 2.8rem;line-height: 34.13px;
}
  .product__info-wrapper .product__title h1 {
    font-size: 2.8rem;
    line-height: 36.4px;
}
  .header {padding-left: 3px;padding-right: 3px;}
  .mob-image{display: none!important;}
  .ingredients .multicolumn-list .multicolumn-card .multicolumn-card__info h3{font-size: 20px;}
  .shop-cat-right--main img {border-radius: 12px;}
  .shop_category--left-wrap,.shop_category--right-wrap  {
    width: 50%;
  }
  .insights .image-with-text .image-with-text__heading{font-size: 32px;}
  p.announcement-bar__message.h5{font-size: calc(var(--font-heading-scale)* 1.4rem); font-weight: 500;}
  .slider-button--prev {left:40px}
  .slider-button--next {right:40px}
  .slider-button .svg-wrapper svg {
    height: 23.48px;
    width: auto;}
    .newAnnouncment-section-wrap .icon_text_inner .icon_text {font-size: 14px;}
  }
  @media(max-width:749px) {
    .desk-image{display: none!important;}
    .free_shipping--main {row-gap:10px ;}
    .free_shipping--item {gap:10px; align-items: flex-start;padding:12px}
    .fre_Shipping-content .free_Shipping-btn {font-size: 1.4rem;}
    .free_shipping--item img {width:24px; height: 24px;}
    .fre_Shipping-content .fre_Shipping-text span {font-size: 12px; line-height: 14.4px;}
    .fre_Shipping-content .fre_Shipping-text h2 {font-size: 14px;line-height: 18.2px; letter-spacing: normal;}
    .home-iwt__content-wrapp .icon-text-items .wrapper img {width:32px; height:32px;}
    .home-iwt__content-wrapp .icon-text-items .wrapper span.text {font-size: 14px; line-height: 18px;}
    .home-iwt__content-wrapp .label_text span{font-size: 14px;   line-height: 18.2px;}
    .home-iwt__content-wrapp .label_text {font-size: 20px;line-height: 26px;}
    .home-iwt__content-wrapp .section-content-items .content-wrapper .content p {font-size: 18px; line-height: 23.6px;}
    .insights .image-with-text .image-with-text__text p {text-align: center;}
    .insights .image-with-text__content {padding:30px}
    .insights h2.image-with-text__heading {text-align: center;font-size: 2rem; margin: auto;}
    .insights .grid {
      flex-direction: column-reverse;
      
  }
    .ingredients .multicolumn-list .multicolumn-card .multicolumn-card__info .rte p,   .insights .image-with-text .image-with-text__text p {font-size: 12px;line-height: 16.8px;}
    .title-wrapper .title {
      font-size: 2rem;margin-bottom: 7px;
  }
    .ingredients.multicolumn .slider--tablet.grid--peek.grid--1-col-tablet-down .grid__item {width: calc(100% - var(--grid-mobile-horizontal-spacing) - 23rem);}
    .shop_category--right-wrap .shop_category--heading {
      padding: 0 1.5rem;
  }
    .shop_category--left-wrap {
      padding: 0 1.5rem;
  }
    .category-block_1 span, .category-block_2 span, .shop-cat-right--main .shop_targ-item a h3, .shop-cat-right--main .shop_targ-item a {font-size: 14px;}
    .title, .title-wrapper-with-link {margin:1.5rem 0 1rem;line-height: 1;}
    .sub_heading {font-size: 12px;}
    .shop_category--main {flex-direction: column;}
  }
  @media(max-width:989px) {
    .desk-header__search-wrapper{display:none ;}
    .mob-header__search-wrapper {
      padding: 0 1rem 1rem 1rem;
      width: 100%;
  }
  .mob-header__search-wrapper details {
      width: 100%;
  }
  }
  @media(min-width:990px){
    .mob-header__search-wrapper{display: none;}
  }
  .collection-hero__image-container {margin: 0;}
  .breadcrumbs__list {
    padding: 0;
    list-style: none;
    display: flex;
}
.breadcrumbs__list li.breadcrumbs__item a {
    text-decoration: none;
    color: #808080;
}
.breadcrumbs__list li.breadcrumbs__item {
    font-size: 14px;
    font-weight: 500;
}
.breadcrumbs__list li.breadcrumbs__item a:after{content:""; display: inline-block;width:8px; height: 16px; background: url(bc-arrow.svg) no-repeat center center;    position: relative;
  top: 4px;
  padding: 0 10px;}

  summary .icon-caret.facet-arrow {
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);transform-origin: 50% 0;
}
.facets__disclosure-vertical[open] .facets__summary .icon-caret.facet-arrow { transform: rotate(180deg) translateY(-50%)!important;}
.facet-checkbox__text {
  color: #AFAFAF;
  font-size: 1.4rem;
  font-weight: 500;
}

.product-slider-container.custom--product-media-slider {
  overflow: hidden; position: relative;padding-left: 22%;
}
.product--thumbnail_slider .thumbnail-slider .swiper-slide {max-height: fit-content;}
.product-slider-container.custom--product-media-slider .thumbnail-slider {width:20%; position: absolute; left:0; top:0}
.product-slider-container.custom--product-media-slider .main-slider { overflow: hidden;}

.pro-image, .media-img{display: block;}
input, button, textarea, select {font-family: Montserrat;}
.contact--form-image img.contact-img {
  display: block;
  width: 100%;
  height: auto;
}
